* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, blue, red);
}

.calculator {
  display: grid;
  justify-content: center;
  margin-top: 30px;
  border: solid black 2px;
  width: 450px;
  padding-top: 20px;
  margin-left: 120px;
  cursor: pointer;
  background-color: white;
  border-radius: 5%;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
}

.key {
  border: 1px solid black;
  text-align: center;
  padding-top: 20px;
  font-size: 2rem;
  margin: 10px;
}

.output {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 20px;
  width: 400px;
  min-height: 100px;
  border: 1px solid black;
  word-wrap: break-word;
  word-break: break-all;
}

.prev-operand {
  font-size: 1.5rem;
}
.current-operand {
  font-size: 2rem;
}

.span-two {
  grid-column: span 2;
}
